      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail.photo.url %>');">
      <div class="card-category">Cocktail</div>
      <div class="card-description">
        <h2><%= "#{cocktail.name.capitalize}" %></h2>
        <p>Very cool stuff, useful and smart</p>
      </div>
        <%= link_to "", cocktail_path(cocktail), class:"card-link" %>
      </div>





