<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
  <div class="card-category">Cocktail</div>
  <div class="card-description">
    <h3><%= cocktail.name %></h3>

  </div>
  <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
</div>
