

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://s-media-cache-ak0.pinimg.com/originals/dc/bf/eb/dcbfeb1f693d30a2c9ec3a2877bc1b79.jpg');">
  <div class="banner-content">
    <h1>Cocktail Bar</h1>
    <p>Veja ótimas opções de drinks</p>
    <a <%= link_to "CLIQUE AQUI", cocktails_path, :method => "get", :class=>"btn btn-primary btn-lg"  %></a>
  </div>
</div>



