<h2> Lista de Cocktails</h2>

<%= link_to "Adicionar Cocktail", new_cocktail_path, :class=>"btn btn-primary" %>


<table class="table table-striped">
  <thead>
      <tr>
         <th>Name</th>
      </tr>
   </thead>
  <tbody>
    <% @cocktails.each do |cocktail|%>
     <tr>
       <td><%= link_to "#{cocktail.name.capitalize}", cocktail_path(cocktail)  %></td>
     <%end%>
     </tr>
</table>


